.blog-pagination {
  display: flex; 
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  max-width: max-content;
  margin: 0 auto;
  
  @include tablet {
    gap: 15px;
  }
  
  @include mobile {
    gap: 15px;
  }


  &__link {
    display: flex;
    align-items: center;
    width: 37px;
    height: 37px;
    line-height: 0;
    color: $blue;

    transition: color .3s ease-in-out;
  
    @include tablet {
      width: 28px;
      height: 28px;
    }

    &_disabled {
      color: $gray;
      pointer-events: none;
    }

    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }
  }


  &__list {
    display: flex;
    gap: 6px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    min-height: 36px;
    border: 2px solid $black;
    border-radius: 4px;
    cursor: pointer;

    font-size: 16px;
    line-height: 130%;
    color: $black;

    transition: color .3s ease-in-out,
      border-color .3s ease-in-out;
    
    @include tablet {
      min-width: 20px;
      min-height: 20px;
      font-size: 12px;
      border-radius: 4px;
    }

    &_active {
      color: $blue-hover;
      border-color: $blue-hover;
    }

    &:focus {
      color: $blue-focus;
      border-color: $blue-hover;
    }

    &:hover {
      color: $blue-hover;
      border-color: $blue-hover;
    }

    &:active {
      color: $blue-hover;
      border-color: $blue-hover;
    }
  }
}