.bread {
  grid-area: header;

  &__list {
    display: flex;
    gap: 10px;
  
    @include mobile {
      gap: 5px;
    }
  }

  &__item {
    display: flex;
    gap: 10px;
    position: relative;
  
    @include mobile {
      gap: 5px;
    }

    &:not(:last-child)::after {
      content: '';
      display: block;
      position: relative;
      width: 18px;
      height: 18px;
      background-size: 18px 18px;
      // background: url('../img/sprite.svg#arrowRight') center no-repeat;
      background: url('../img/svg/arrowRight.svg') center no-repeat;

    
      @include mobile {
        width: 15px;
        height: 15px;
        background-size: 15px 15px;
      }
    } 
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $dark-gray;
    transition: 
      color .3s ease-in-out,
      border-bottom-color .3s ease-in-out,
      transform .6s ease-in-out;
    outline: none;
    border-bottom: 2px solid transparent;
  
    @include mobile {
      font-size: 12px;
    }

    &_active {
      text-decoration: underline;
      color: $gray;
      pointer-events: none;
      cursor: pointer;
    }
    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }
  
    &:active {
      color: $blue-hover;
      transform: rotateY(360deg);
    }
  }
}