.category-goods {
  padding-top: 50px;
  padding-bottom: 140px;

  @include laptop {
    padding-top: 45px;
    padding-bottom: 100px;
  }
  
  @include tablet {
    padding-bottom: 80px;
  }
  
  @include mobile {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  
    @include laptop {
      gap: 40px;
    }
    
    @include tablet {
      gap: 30px;
    }
    
    @include mobile {
      gap: 25px;
    }
  }

	&__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(394px, 1fr);
    column-gap: 30px;
    row-gap: 50px;

    @include laptop {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(397px, 1fr);
      column-gap: 20px;
    }

    @include tablet {
      grid-auto-rows: minmax(294px, 1fr);
      row-gap: 40px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(180px, 1fr);
      row-gap: 30px;
    }
	}
}

