.footer {
  background-color: $black;
  padding-top: 80px;
  padding-bottom: 80px;
  color: $white;
  
  @include laptop {
    padding-top: 60px;
    padding-bottom: 44px;
  }

  @include tablet {
    padding-top: 40px;
    padding-bottom: 37px;
  }

  @include mobile {
    padding-top: 30px;
    padding-bottom: 20px;
  }

	&__container {
    display: grid;
    grid-template-columns: minmax(190px, 2fr) minmax(480px, 4fr) minmax(245px, 3fr) minmax(245px, 3fr);
    grid-template-rows: minmax(min-content, 1fr) min-content;
    grid-template-areas: 
      'logo catalog info contacts'
      'copyright . . developer';
    row-gap: 50px;
    column-gap: 30px;
    
    @include laptop {
      grid-template-columns: minmax(225px, 2fr) minmax(265px, 3fr) minmax(280px, 3fr);
      column-gap: 75px;
      row-gap: 60px;
      grid-template-areas: 
      'logo . .'
      'catalog info contacts'
      'copyright  . developer';
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 15px;
      row-gap: 53px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 
        minmax(34px, min-content)
        minmax(26px, min-content)
        minmax(36px, min-content)
        minmax(160px, min-content)
        minmax(31px, min-content);
      grid-template-areas: 
      'logo logo'
      'catalog catalog'
      'info info'
      'contacts contacts'
      'copyright developer';
      row-gap: 20px;
      column-gap: 20px;
    }
	}

	&__logo {
    grid-area: logo;

    &:hover {
      color:$blue;

      path:last-child {
        color:$white;
      }
    }
	}

  &__accord-icon {
    order: 1;
    display: block;
    width: 17px;
    height: 8px;
    background: {
      image: url('../img/svg/arrowDown.svg');

      repeat: no-repeat;
      position: center;
    }
    transition: transform .5s ease-in-out;


    &_active {
      transform: rotate(180deg);
      background-image: url('../img/svg/arrowDown.svg');

    }
  }

	&__catalog {
    grid-area: catalog;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include laptop {
      row-gap: 30px;
    }

    @include tablet {
      row-gap: 20px;
    }

    @include mobile {
      row-gap: 10px;
    }
	}

	&__catalog-title {
    @extend %title3;

    @include tablet {
      font-size: 26px;
    }

    @include mobile {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 20px;
    }
	}

	&__catalog-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 30px;

    @include tablet {
      row-gap: 10px;
    }

    @include mobile {
      display: none;
      row-gap: 6px;
    }
	}

	&__catalog-item {
    flex-basis: 225px;
    font-weight: 700;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 12px;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
	}

	&__catalog-link {
    color: $white;
    transition: color .3s ease-in-out,
    transform .3s ease-in-out;

    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }
	}

	&__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include laptop {
      row-gap: 30px;
    }

    @include tablet {
      row-gap: 20px;
    }

    @include mobile {
      row-gap: 10px;
    }
	}

	&__info-title {
    @extend %title3;

    @include tablet {
      font-size: 26px;
    }

    @include mobile {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 20px;
    }
	}

	&__info-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 30px;

    @include tablet {
      row-gap: 10px;
    }

    @include mobile {
      row-gap: 6px;
      display: none;
    }
	}

	&__info-item {
    font-weight: 700;
    color: $white;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 12px;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
	}

	&__info-link {
    color: $white;
    transition: color .3s ease-in-out,
    transform .3s ease-in-out;

    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }
	}

	&__contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    
    @include laptop {
      row-gap: 35px;
    }

    @include tablet {
      row-gap: 20px;
    }

    @include mobile {
      row-gap: 10px;
    }
	}

	&__contacts-title {
    @extend %title3;

    @include tablet {
      font-size: 26px;
    }

    @include mobile {
      font-size: 20px;
    }
	}

	&__contact-list {
    display: flex;
    flex-direction: column;
    row-gap: 21px; 

    @include tablet {
      row-gap: 13px; 
    }

    @include mobile {
      row-gap: 10px; 
    }
	}

	&__contacts-item {
    font-style: normal;
    font-size: 16px;


    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      font-size: 10px;
    }
	}

	&__contacts-link {
    color: $white;
    transition: color .3s ease-in-out,
    transform .3s ease-in-out;

    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }
	}

	&__copyright {
    grid-area: copyright;

    @extend %title3;
    font-size: 16px;

    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      font-size: 10px;
    }
	}

	&__developer {
    grid-area: developer;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @extend %title3;
    font-size: 16px;


    @include tablet {
      gap: 8px;
      font-size: 12px;
    }

    @include mobile {
      gap: 5px;
      font-size: 10px;
    }
	}

	&__developer-link {
    color: $white;
    transition: color .3s ease-in-out,
    transform .3s ease-in-out;

    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }
	}
}
.social {

	&__list {
    display: flex;
    gap: 20px;
    padding: 15px 0;

    @include tablet {
      gap: 15px;
      padding: 17px 0;
    }

    @include mobile {
      padding: 14px 0;
    }
	}

  &__item {
    color: $white;

    &:nth-of-type(4) {
      color: $black;
    }
  }

	&__link {
      line-height: 0;
      transition: color .3s ease-in-out,
      transform .3s ease-in-out;
      display: block;

    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }
	}
}


