
.form {
  
  &__input {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 14px 39px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: $light-gray;

    @include laptop {
      padding-left: 40px;
    }
    
    @include tablet {
      padding: 11px 30px 15px;
      font-size: 12px;
    }
    
    @include mobile {
      padding: 9px 16px 11px;
      font-size: 8px;
    }

    &::placeholder {
      color: $gray;
    }
  }
  
  &__btn {
    justify-self: end;
    padding: 9px 33px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    line-height: 0;
    border: none;
    border-radius: 30px;
    background-color: $blue;

    transition: background-color .3s ease-in-out;


    @include laptop {
      align-self: flex-end;
    }
    
    @include tablet {
      padding: 6px 26px;
    }
    
    @include mobile {
      padding: 5px 15px;
    }

    &:focus {
      background-color: $blue-focus;
    }

    &:hover {
      background-color: $blue-hover;
    }
  }
}

.btn {
  &__search {

    @include tablet {
      height: 30px;
      width: 30px;
    }
    
    @include mobile {
      height: 20px;
      width: 20px;
    }
  }
  
}