.item-cart {
  position: relative;
  
  @include tablet{
    padding-bottom: 44px;
  }

  &__checkbox {
    margin-right: 20px;

    @include tablet{
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__img {
    margin-right: 12px;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    border: 1px solid $light-gray;
    background-color: lightgray 50%;

    @include tablet{
      width: 91px;
      height: 91px;
      margin-right: 14px;
      align-self: flex-start;
    }

    @include tablet{
      margin-right: 8px;
    }
  }

  &__info-product {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;

    @include tablet{
      flex-direction: column;
      gap: 7px;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-self: flex-start;
    max-width: 533px;
    width: 100%;

    @include laptop{
      max-width: 320px;
    }

    @include tablet{
      max-width: 100%;
      gap: 6px;
      order: 2;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;

    @include tablet{
      font-size: 18px;
    }

    @include mobile{
      font-size: 12px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 130%;
    color: $gray;

    @include tablet{
      font-size: 10px;
    }

    @include mobile{
      display: none;
    }
  }

  &__count-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: flex-start;

    @include tablet{
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__btn-count {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid $gray;
    color:$gray;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    background-color: transparent;

    transition: color .3s ease-in-out,
      border-color .3s ease-in-out;

      @include tablet{
        width: 28px;
        height: 28px;
      }

    &:focus {
      color: $blue;
      border-color: $blue;
    }

    &:hover {
      color: $black;
      border-color: $black;
    }

    &:active {
      color: $black;
      border-color: $black;
    }
  }

  &__count {
    font-size: 22px;
    line-height: 150%;


    @include tablet{
      font-size: 18px;
    }
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
    min-width: 150px;

    @include tablet{
      flex-direction: row;
      gap: 12px;
    }

    @include tablet{
      flex-wrap: wrap;
      gap: 9px 20px;
    }
  }

  &__price {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.18;

    @include tablet{
      font-size: 22px;
    }

    @include mobile{
      font-size: 16px;
    }
  }

  &__old-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.18;
    text-decoration: line-through;
    color: $gray;

    @include tablet{
      font-size: 12px;
    }

    @include mobile{
      font-size: 10px;
    }
  }

  &__credit-price {
    padding-top: 9px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    color: $blue;
    justify-self: end;

    @include tablet{
      padding-top: 0;
      font-size: 12px;
    }

    @include mobile{
      font-size: 10px;
    }
  }

  &__btn-del {
    display: none;

    @include tablet{
      display: block;
      position: absolute;
      right: 30px;
      bottom: 0;
    }
  }
}