

.nav-list {

  &__btn {
    @include tablet {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 0;
      height: 30px;
      width: 30px;
    }

    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }

    &:active {
      color: $red;
    }
  }
  
  &__link {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;

    @include tablet {
      gap: 0;
    }
    
    @include mobile {
      position: relative;
    }

  }
  
  &__svg {
    stroke-width: 3px;
    transition: color .3s ease-in-out;

    @include tablet {
      height: 30px;
      width: 30px;
    }

    &_heart {
      color: $blue;
    }
    
    &:focus {
      color: $blue-focus;
    }

    &:hover {
      color: $blue-hover;
    }

    &:active {
      color: $red;
    }
  }
  
  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;

    @include tablet {
      font-size: 12px;
      line-height: 100%;
    }
    
    @include mobile {
      display: none;
    }
  }
}