.article-page {
  padding-top: 30px;
  padding-bottom: 150px;
  flex: 1 1 auto;
  
  @include laptop {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  @include tablet {
    padding-top: 11px;
    padding-bottom: 80px;
  }

  @include mobile {
    padding-top: 0;
    padding-bottom: 52px;
  }
}

.article-container {
  display: grid;
  grid-template-columns: 1fr 532px;
  grid-template-rows: minmax(21px, min-content) min-content minmax(min-content, 1fr);
  grid-template-areas: 
    'header header'
    'article aside'
    'footer aside';
    gap: 80px;

    @include laptop {
      grid-template-columns: 1fr 300px;
        gap: 60px 20px;
    }
    
    @include tablet {
      grid-template-columns: 1fr;
      grid-template-areas: 
        'header'
        'article'
        'footer'
        'aside';
      gap: 35px;
    }
    
    @include mobile {
      gap: 30px;
    }
}

.article-main {
  grid-area: article;
  margin-bottom: 20px;

  
@include laptop {
  margin-bottom: 0;
}

  &__container {
    max-width: 1095px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    @include laptop {
      gap: 40px;
    }

    @include tablet {
      gap: 20px;
    }

    @include mobile {
      gap: 10px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: $black;
    
    @include laptop {
      font-size: 40px;
    }

    @include tablet {
      font-size: 28px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: $black;
    margin-bottom: 33px;
    
    @include laptop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 21px;
    }

    @include mobile {
      font-size: 12px;
      margin-bottom: 16px;
    }
  }

  &__text:last-child {
    margin-bottom: 0;
  }
}