.article-footer {
  grid-area: footer;

  &__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 
      color .3s ease-in-out,
      border-bottom-color .3s ease-in-out,
      transform .6s ease-in-out;
    outline: none;
    border-bottom: 2px solid transparent;
    
    @include laptop {
      font-size: 14px;
      gap: 5px;
    }
    
    @include mobile {
      font-size: 10px;
    }
  
    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      background: url("../img/sprite.svg#backspace") center no-repeat;
      // background: url("../img/svg/backspace.svg") center no-repeat;
      transition: background-image .3s ease-in-out;

      @include mobile {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
      }
    }

    &:hover {
      color: $blue;
    }
  
    &:hover::before {
      background-image: url("../img/sprite.svg#backspaceblue");
      // background: url("../img/svg/backspaceblue.svg") center no-repeat;
    }
  
    &:focus {
      border-bottom-color: var(--gray-dark, #525252);
    }
  
    &:active {
      transform: rotateY(360deg);
    }
  }

  &__development {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;

    @include laptop {
      gap: 30px;
    }
  
    @include mobile {
      gap: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include laptop {
      gap: 14px;
    }

    @include mobile {
      gap: 10px;
    }
  }

  &__author {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: $black;

    @include laptop {
      font-size: 18px;
    }
    
    @include mobile {
      font-size: 12px;
    }
  }

  &__date {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $gray;
    
    @include laptop {
      font-size: 14px;
    }
    
    @include mobile {
      font-size: 8px;
    }
  }

  &__count-wrapper {
    display: flex;
    justify-self: end;
    align-self: start;
    gap: 37px;

    @include laptop {
      gap: 20px;
    }

    @include mobile {
      gap: 6px;
    }
  }

  &__views-link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $gray;
    transition: 
      color .3s ease-in-out,
      border-bottom-color .3s ease-in-out,
      transform .6s ease-in-out;
    outline: none;
    border-bottom: 2px solid transparent;
    
    @include laptop {
      font-size: 14px;
    }
    
    @include mobile {
      font-size: 8px;
    }

      
    &:hover {
      color: var(--blue-color);
    }

    &:focus {
      border-bottom-color: $gray;
    }

    &:active {
      transform: scale(1.2);
    }
  }
  &__views-icon {
    width: 24px;
    height: 24px;
    
    @include mobile {
      width: 13px;
      height: 13px;
    }
  }
}