.aside {
  grid-area: aside;
  
  @include mobile {
    display: none;
  }

  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;

    @include laptop {
      gap: 40px;
      justify-content: center;
    }
    
    @include tablet {
      max-height: 706px;
      flex-direction: row;
      align-items: center;
    }
  }

  &__block-one,
  &__block-two {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 43px 30px;
    max-width: 532px;
    height: 328px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    @include laptop {
      display: flex;
      padding: 20px 15px;
      max-width: 320px;
      height: 254px;
      background-size: cover;
    }
    
    @include tablet {
      padding: 20px 15px;
    }
  }

  &__block-one {
    background-image: url('../img/blog/aside/blockOne.jpg');
  }

  &__title {
    width: 100%;
    max-width: 390px;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: $white;

    @include laptop {
      font-size: 22px;
    }
  }

  &__title:hover {
    color: $blue;
  }

  &__description {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $white;

    @include laptop {
      font-size: 14px;
    }
  }

  &__block-two {
    background-image: url('../img/blog/aside/blockTwo.jpg');
  }
}