.blog-page {
  flex: 1 1 auto;
}

.blog {
  padding-top: 30px;
  padding-bottom: 150px;
  margin: 0 auto;

  @include laptop {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  
  @include tablet {
    padding-top: 11px;
    padding-bottom: 80px;
  }
  
  @include mobile {
    padding-top: 0px;
    padding-bottom: 50px;
  }


  &__container {
    padding-top: 40px;
    padding-bottom: 100px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 100px;

    @include laptop {
      padding-top: 30px;
      padding-bottom: 80px;
      gap: 50px;
    }
    
    @include tablet {
      padding-top: 25px;
      padding-bottom: 50px;
      gap: 50px;
    }
    
    @include mobile {
      padding-top: 15px;
      padding-bottom: 40px;
      gap: 30px;
    }
  }

  &__list {
    max-width: 1433px;
    display: grid;
    grid-template-columns: repeat(2, 645px);
    grid-auto-rows: minmax(60px , max-content);
    justify-content: space-between;
    gap: 50px;
    width: 100%;

    @include laptop {
      grid-template-columns: repeat(2, 460px);
      gap: 30px 20px;
    }
    
    @include tablet {
      grid-template-columns: minmax(280px, 620px);
      gap: 20px;
    }
    
    @include mobile {
      gap: 10px;
    }
  }
}