.card {
  padding-top: 40px;
  padding-bottom: 50px;

  @include laptop {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  @include tablet {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  @include mobile {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 420px;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
      'title title'
      'img book'
      'description .';
    column-gap: 20px;

    @include laptop {
      grid-template-columns: 1fr 300px;
      grid-template-areas: 
      'title title'
      'img book'
      'description description';
    } 
  
    @include tablet {
      grid-template-areas: 
      'title title'
      'img book'
      'description description';
    }
  
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: 
      'title'
      'img'
      'book'
      'description';

    }
  }
  
  &__title {
    position: relative;
    grid-area: title;
    padding-bottom: 25px;
    margin-bottom: 43px;

    color: $black;
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;



    @include laptop {
      padding-bottom: 20px;
      margin-bottom: 50px;
      font-size: 40px;
      padding-right: 315px;
    }

    @include tablet {
      margin-bottom: 45px;
      padding-right: 194px;
      font-size: 28px;      
    }

    @include mobile {
      margin-bottom: 20px;
      font-size: 18px;
      padding-right: 0;      
    }

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: $gray;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  
  &__img-wrapper {
    align-self: center;
    position: relative;
    grid-area: img;
    max-width: 757px;
    margin-bottom: 80px;

    @include laptop {
      max-width: 504px;
      margin-bottom: 50px;
    }

    @include tablet {
      max-width: 380px;
      margin-bottom: 40px;
    }

    @include mobile {
      max-width: 280px;
      margin-bottom: 20px;
    }


    p {
      @extend %promoCardDiscount;
      color: $white;
      top: 20px;
      right: 50px;

      @include laptop {
        top: 10px;
        right: 30px;
        width: 66px;
        height: 66px;
        font-size: 20px;
      }
  
      @include tablet {
        width: 50px;
        height: 50px;
        font-size: 16px;     
      }
  
      @include mobile {
        top: 5px;
        right: 5px;
        width: 32px;
        height: 32px;
        font-size: 12px;  
      }
    }

  }
  
  &__book {
    grid-area: book;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    max-width: 420px;
    background-color: $white;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    align-self: self-start;

    @include laptop {
      max-width: 300px;
      margin-bottom: 50px;
      padding: 25px 20px 27px; 
    }

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      gap: 20px;
      margin-bottom: 20px;
      padding: 25px 30px 30px; 
    }
  }
  
  &__price {
    display: flex;
    gap: 25px;

    @include mobile {
      gap: 18px; 
    } 
  }
  
  &__price-new {
    margin-bottom: 7px;
    color: $red;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;

    @include laptop {
      margin-bottom: 16px;
      font-size: 28px; 
    }

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 13px;
      font-size: 20px;
    }
  }
  
  &__price-old {
    color: $black;
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;

    @include laptop {
      font-size: 18px; 
    }

    @include tablet {

    }

    @include mobile {
      font-size: 12px;
    }
  }
  
  &__price-credit {
    color: $blue;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

    @include laptop {
      font-size: 14px; 
    }

    @include tablet {

    }

    @include mobile {
      font-size: 12px;
    }
  }
  
  &__btn-wrapper {
    display: flex;
    align-items: center;
    gap: 23px;

    @include laptop {
      gap: 21px;
    }

    @include tablet {

    }

    @include mobile {
      gap: 17px;
    }
  }
  
  &__btn-cart {
    padding: 17px 42px;
    color: $white;
    background-color: $blue;

    border-radius: 10px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    border: none;
    outline: none;

    transition: background-color .3s ease-in-out;

    @include laptop {
      padding: 12px 26px;
    }

    @include tablet {

    }

    @include mobile {
      padding: 8px 18px;
      font-size: 12px;
      border-radius: 8px;
    }

    &:focus {
      background-color: $blue-focus;
    }

    &:hover {
      background-color: $blue-hover;
    }

    &:active {
      background-color: $blue-hover;
    }
  }
  
  &__btn-favorite {
    width: 33px;
    height: 33px;
    background-color: transparent;
    color: $blue;
    border: none;
    outline: none;

    transition: color .3s ease-in-out;


    @include mobile {
      width: 24px;
      height: 24px;
    }

    &:focus {
      color: $dark-gray;
    }

    &:hover {
      color: $blue-hover;
    }

    &:active {
      color: $red;
    }
  }

  &__wrapper-delivery-salesman {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  &__delivery {

    color: $gray;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;

    @include mobile {
      font-size: 12px;
    }
  }
  
  &__delivery-date {
    padding-top: 5px;
    display: block;
    color: $black;
  }
  
  &__salesman {
    padding-top: 5px;
    color: $gray;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    
    @include mobile {
      font-size: 12px;
    }
  }
  
  &__salesman-name {
    display: block;
    color: $black;
    padding-top: 5px;

  }

  &__discount-btn {
    color: $blue;
    background-color: transparent;
    border: none;
    display: flex;
    gap: 13px;
    align-items: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    cursor: pointer;
    
    transition: color .3s ease-in-out;

    
    @include laptop {
      gap: 7px;
      font-size: 14px;
    }
  
    @include tablet {
      
    }
  
    @include mobile {
      gap: 4px;
      font-size: 8px;
    } 

    
    &:focus {
      color: $dark-gray;
    }

    &:hover {
      color: $blue-hover;
    }

    &:active {
      color: $red;
    }
  }

  &__discount-svg {
    width: 24px;
    height: 24px;

    @include laptop {
      width: 22px;
      height: 22px;
    }
  
    @include tablet {
      
    }
  
    @include mobile {
      width: 14px;
      height: 14px;
    } 
  }
  
  &__description {
    grid-area: description;
    max-width: 1234px;
  }
  
  &__description-title {
    margin-bottom: 20px;
    @extend %titleFooter;

    @include laptop {
      font-size: 24px;
    }
  
    @include tablet {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    @include mobile {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }
  
  &__description-text {
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    color: $black;

    @include laptop {
      font-size: 18px;
    }
  
    @include tablet {
      font-size: 16px;
    }
  
    @include mobile {
      font-size: 12px;
    }
  }
}
