.goods {
  padding-top: 50px;
  padding-bottom: 140px;

  @include laptop {
    padding-top: 45px;
    padding-bottom: 100px;
  }
  
  @include tablet {
    padding-bottom: 80px;
  }
  
  @include mobile {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;

  
    @include laptop {
      gap: 40px;
    }
    
    @include tablet {
      gap: 30px;
    }
    
    @include mobile {
      gap: 25px;
    }
  }

  &__title {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: $black;

    @include laptop {
      font-size: 40px;
    }

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 20px;
    }
	}

	&__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(394px, 1fr);
    column-gap: 30px;
    row-gap: 50px;

    @include laptop {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(397px, 1fr);
      column-gap: 20px;
    }

    @include tablet {
      grid-auto-rows: minmax(294px, 1fr);
      row-gap: 40px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(180px, 1fr);
      row-gap: 30px;
    }
	}

  &__list-card li:nth-last-child(-n+2) {
    display: none;

    @include laptop {
      display: flex;
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include tablet {
    gap: 10px;
  }

  @include mobile {
    gap: 5px;
  }

	&__title {
    order: 2;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    color: $black;

    @include tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 12px;
    }
	}

	&__img-wrapper {
    position: relative;
    margin-bottom: 5px;
    line-height: 0;
	}

	&__img {
    border-radius: 14px;
    max-width: 420px;
    max-height: 295px;
    object-fit: cover;
    width: 100%;

    @include laptop {
      max-width: 300px;
    }

    @include tablet {
      max-width: 220px;
      max-height: 216px;
      border-radius: 12px;
    }

    @include mobile {
      max-width: 130px;
      max-height: 130px;
    }
	}

	&__discount {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 24px 8px;
    width: 88px;
    height: 88px;
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    border-radius: 50%;
    color: $white;
    background-color: $orange;

    @include tablet {
      bottom: 10px;
      left: 10px;
      padding: 16px 5px 18px;
      width: 60px;
      height: 60px;
      font-size: 20px;
    }

    @include mobile {
      bottom: 6px;
      left: 6px;
      padding: 11px 5px 13px;
      width: 40px;
      height: 40px;
      font-size: 12px;
    }
	}

	&__price-wrapper {
    display: flex;
    gap: 28px;
    align-items: center;

    @include tablet {
      gap: 16px;
    }
	}

	&__price {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: $black;

    @include tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 16px;
    }
	}

	&__price-discount {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    line-height: 150%;
    color: $black;
    text-decoration: line-through;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 12px;
    }
	}
}

