.hero {
  padding-top: 60px;
  padding-bottom: 30px;

  
@include laptop {
  padding-top: 24px;
  padding-bottom: 11px;
}

@include mobile {
  padding-bottom: 10px;
}
  
  &__content {
    height: 480px;
    padding: 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: url(../img/banner-one.jpeg);
    background-image: image-set(
      url('../img/banner-one.avif'),
      url('../img/banner-one.webp'),
      url('../img/banner-one.jpg')
    );
    background-image: -webkit-image-set(
      url('../img/banner-one.avif'),
      url('../img/banner-one.webp'),
      url('../img/banner-one.jpg')
    );
    background-size: cover;
    background-position: center;
    border-radius: 20px;

    @include laptop {
      height: 314px;
      border-radius: 16px; 
      background-size: cover;
    }
    
    @include tablet {
      height: 280px;
    }
    
    @include mobile {
      height: 340px;
      padding: 2px;
      border-radius: 8px;
      text-align: center;
      background-position-x: -100px;
    }
  }
  
  &__title {
    margin-bottom: 80px;
    padding-top: 106px;
    padding-left: 72px;
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    color: $white;

    @include laptop {
      margin-bottom: 63px;
      padding-top: 40px;
      padding-left: 40px;
      font-size: 40px;
    }
    
    @include tablet {
      margin-bottom: 82px;
      padding-top: 25px;
      font-size: 30px;
    }
    
    @include mobile {
      margin-bottom: 182px;
      padding-top: 50px;
      padding-left: 0;
      font-size: 22px;
    }
  }
  
  &__timer {
    max-width: min-content;
    margin: 0 auto;
    text-align: center;
    color: $white;
  }
}

  