
.promo-card {
  
  &__link {
    border-radius: $radius;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    };

    @include laptop {
      border-radius: 16px;
    }

    @include tablet {
      border-radius: 12px;
    }

    @include mobile {
      border-radius: 8px;
    }

    &_two-colums {
      grid-column: span 2;
    }

    &_two-rows {
      grid-row: span 2;
    }

    &_card-one {
      @extend %displayFlex;

      padding: 20px;
      background: linear-gradient(181deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };

      // background-image: url('../../img/block-1.jpg');
      // background-image: image-set(
      //   url('../../img/block-1.avif') 2x,
      //   url('../../img/block-1.avif') 1x,
      //   url('../../img/block-1.webp') 2x,
      //   url('../../img/block-1.webp') 1x,
      //   url('../../img/block-1.jpg') 2x,
      //   url('../../img/block-1.jpg') 1x,
      // );
      // background-image: -webkit-image-set(
      //   url('../../img/block-1.avif') 2x,
      //   url('../../img/block-1.avif') 1x,
      //   url('../../img/block-1.webp') 2x,
      //   url('../../img/block-1.webp') 1x,
      //   url('../../img/block-1.jpg') 2x,
      //   url('../../img/block-1.jpg') 1x,
      // );

      @include laptop {
        padding: 20px 12px 20px 9px;
      }

      @include tablet {
        padding: 15px 10px;
      }

      @include mobile {
        padding: 10px 30px 10px 1px;
      }

      p {
        @extend %promoCardText;

        @include laptop {
          font-size: 24px;
        }

        @include tablet {
          font-size: 20px;
        }

        @include mobile {
          font-size: 12px;
        }

        span {
          font-size: 40px;

          @include laptop {
            font-size: 30px;
          }

          @include mobile {
            font-size: 26px;
          }

          @include tablet {
            font-size: 16px;
          }
        }
      }
    }

    &_card-two {
      @extend %displayFlex;

      align-items: start;
      padding: 78px 9px 20px;
      background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };
      
      p {
        @extend %promoCardText;

        @include laptop {
          font-size: 24px;
        }

        @include tablet {
          font-size: 16px;
        }

        span {
          @extend %promoCardDiscount;

          bottom: 20px;
          right: 20px;
          
          @include laptop {
            bottom: 10px;
            right: 10px;
          }

          @include tablet {
            font-size: 16px;
            width: 50px;
            height: 50px;
          }

          @include mobile {
            bottom: 5px;
            right: 5px;
          }
        }
      }
    }

    &_card-three {
      @extend %displayFlex;
      
      p {
        @extend %promoCardText;

        span {
          @extend %promoCardDiscount;
          top: 20px;
          left: 20px;

          @include laptop {
            bottom: 10px;
            right: 10px;
          }

          @include tablet {
            font-size: 16px;
            width: 50px;
            height: 50px;
          }

          @include mobile {
            bottom: 5px;
            right: 5px;
          }
        }
      }

    }

    &_card-four {
      @extend %displayFlex;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.16) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };
      padding: 22px 20px;

      @include laptop {
        padding: 22px;
      }

      @include tablet {
        padding: 10px;
      }


      p {
        @extend %promoCardText;

        padding: 24px 23px;
        font-size: 40px;
        line-height: 120%;
        background-color: #38C0EB;
        border-radius: $radius;

        @include laptop {
          border-radius: 16px;
        }
    
        @include tablet {
          border-radius: 12px;
        }
    
        @include mobile {
          border-radius: 8px;
        }

        @include laptop {
          padding: 29px 25px;
          font-size: 30px;
        }
  
        @include tablet {
          padding: 16px 22px;
          font-size: 16px;
        }

        @include mobile {
          padding: 9px 25px;
          font-size: 12px;
        }

        span {
          font-size: 56px;

          @include laptop {
            font-size: 40px;
          }

          @include tablet {
            font-size: 26px;
          }

          @include mobile {
            font-size: 16px;
          }
        }
      }
    }

    &_card-five {
      @extend %displayFlex;

      padding: 30px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.16) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };

      @include laptop {
        padding: 20px;
      }

      @include mobile {
        padding: 16px 10px;
      }

      p {
        @extend %promoCardText;

        font-size: 40px;

        @include laptop {
          font-size: 30px;
        }

        @include tablet {
          font-size: 16px;
        }

        @include mobile {
          font-size: 12px;
        }
      }
    }

    &_card-six {
      @extend %displayFlex;

      padding: 30px 115px 30px 30px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };

      @include laptop {
        padding: 20px;
      }

      @include mobile {
        padding: 16px 10px;
      }

      p {
        @extend %promoCardText;

        font-size: 40px;
        font-weight: 700;

        @include laptop {
          font-size: 30px;
        }

        @include tablet {
          font-size: 16px;
        }

        @include mobile {
          font-size: 12px;
        }

        span {
          @extend %promoCardDiscount;
  
          right: 20px;
          bottom: 20px;

          @include laptop {
            right: 10px;
            bottom: 10px;
          }

          @include tablet {
            width: 50px;
            height: 50px;
            font-size: 16px
          }

          @include mobile {
            right: 5px;
            bottom: 5px;
          }
        }
      }
    }

    &_card-seven {
      @extend %displayFlex;

      padding: 50px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.16) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };

      @include laptop {
        padding: 39px 30px;
      }

      @include tablet {
        padding: 26px;
      }

      @include mobile {
        padding: 10px 15px;
      }

      p {
        padding: 42px 32px;
        font-family: Lato;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        color: #F91155;
        text-transform: uppercase;
        border-radius: $radius;
        background-color: $white;

        @include laptop {
          padding: 23px 46px;
          font-size: 30px;
          border-radius: 16px;
        }

        @include tablet {
          padding: 22px 34px;
          font-size: 20px;
          border-radius: 12px;
        }

        @include mobile {
          padding: 8px 41px;
          font-size: 12px;
          border-radius: 8px;
        }
      }
    }

    &_card-eight {
      @extend %displayFlex;
      background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };

      p {
        @extend %promoCardText;

        span {
          @extend %promoCardDiscount;

          bottom: 20px;
          right: 20px;

          @include laptop {
            right: 10px;
            bottom: 10px;
          }

          @include tablet {
            width: 50px;
            height: 50px;
            font-size: 16px
          }

          @include mobile {
            right: 5px;
            bottom: 5px;
          }
        }
      }
    }

    &_card-nain {
      @extend %displayFlex;

      padding: 20px;
      background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: 75% 100%;
      };

      @include laptop {
        padding: 14px;
      }

      @include mobile {
        padding: 10px;
      }

      p {
        @extend %promoCardText;

        @include laptop {
          font-size: 20px;        
        }
  
        @include tablet {
          font-size: 16px;        
        }
  
        @include mobile {
          font-size: 12px;        
        }

        span {
          @extend %promoCardDiscount;

          top: 20px;
          left: 20px;

          @include laptop {
            bottom: 10px;
            right: 10px;
          }

          @include tablet {
            font-size: 16px;
            width: 50px;
            height: 50px;
          }

          @include mobile {
            bottom: 5px;
            right: 5px;
          }
        }
      }
    }

    &_card-ten {
      @extend %displayFlex;
      background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      };
      
      p {
        @extend %promoCardText;
      }
    }
  }
}