.promo-cards {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 550px));
    grid-template-rows: repeat(2, 550px);
    justify-content: space-between;
    gap: 45px;

    @include laptop {
      grid-template-columns: repeat(2, minmax(380px, 458px));
      grid-template-rows: repeat(3, minmax(300px, 458px));
      gap: 24px;
    }

    @include tablet {
      grid-template-columns: 4fr 5fr;
      grid-template-rows: repeat(8, 61px) 337px;
      gap: 20px;
    }

    @include mobile {
      grid-template-columns: 280px;
      grid-template-rows: repeat(4, 280px);

      grid-auto-rows: 123px;
      gap: 20px;
    }

  }
  
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;

    @include laptop {
      gap: 24px;

      &:nth-child(4) {
        order: 1;
      }
    }

    @include mobile {
      gap: 20px;
    }

    &_two-colums {
      grid-column: span 2;

      @include mobile {
        grid-column: span 1;

      }
    }

    &_symm-rows {
      @include tablet {
        grid-row: span 4;
      }
      @include mobile {
        grid-row: span 1;
      }
    }

    &_asymm-rows-big {
      @include tablet {
        grid-row: span 5;
      }
      @include mobile {
        grid-row: span 1;
      }
    }

    &_asymm-rows-small {
      @include tablet {
        grid-row: span 3;
      }
      @include mobile {
        grid-row: span 1;
      }
    }

  }
}

  