html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  color: $black;
  background-color: $white;
}


img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

iframe {
  border: none;
}


legend {
  display: block; 
  padding: 0;
  white-space: normal;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/*
Доступно скрываю элементы
*/

// .visually-hidden {
//   position: fixed;
//   transform: scale(0);
// }

.visible {
  transition: transform .1s ease,
    opacity .1s ease;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  --max-width: 1770px;
  --padding: 75px;

  max-width: calc(var(--max-width) + var(--padding) * 2 );
  padding: 0 var(--padding);
  margin: 0 auto;

  @include laptop {
    --max-width: 940px;
    --padding: 42px;
  }

  @include tablet {
    --max-width: 700px;
    --padding: 34px;
  }

  @include mobile {
    --max-width: 280px;
    --padding: 20px;
  }
}

.title-2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 130%;

  @include laptop {
    font-size: 40px;
  }

  @include tablet {
    font-size: 30px;
  }

  @include mobile {
    font-size: 20px;
  }
}

.title-3 {
  // font-size: 32px;
  font-size: $fontsTitle3;
  font-weight: 700;
  line-height: 130%;
}

.discount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 50%;
  color: $white;
  background-color: $orange;

  @include tablet {
    width: 60px;
    height: 60px;
    font-size: 20px
  }

  @include mobile {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }

}

.none {
  display: none;
}


