// шаблон
%spanDiscount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  font-size: 30px;
  border-radius: 50%;
  background-color: $orange;
}

%title3 {
  font-weight: 700;
  font-size: $fontsTitle3;
  line-height: 130%;
  color: inherit;
}

%before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// переопределить

%promoCardText {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: $white;
}

%displayFlex {
  position: relative;
  display: flex;
  align-items: end;
}

%background {
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
  };
}