// colors
$white: #ffffff;
$black: #2d2d2d;
$blue: #3670c7;
$gray: #8f8f8f;
$dark-gray: #525252;
$red: #ff0000;
$light-gray: #efefef;
$orange: #ffbd13;

$blue-focus: #3B65A5;
$blue-hover:#5D92E0;

// media
$laptop: 1440px;
$tablet: 950px;
$mobile: 640px;

//fonts
$fontsTitle2: 50px;
$fontsTitle3: 32px;
//
$radius: 20px;



// подключение шаблона
// .selector {
//   @extend %titleSecond
// }
